body{
    font-size: 14px;
}
.gapping{
    margin-top: 30px;
}
.upding{
    padding: 12px;
   
    border: none;
    border-radius: 5px;
    
    border: 1px solid #31d422;
    color: #fff;
    font-size: 15px;
    width: 100%;
    color: black;
    
    
}
.label-color{
    color: #227ed4;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #40ca33;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #227ed4;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: bold;
}